- var page = "index";
doctype html
html(lang="vi")
    head
        include jades/head
    body(ontouchstart='')
        section.pageBody
            include jades/header.jade
            main.wrapper
                section.homeWrapper
                    .homeCenter
                        .container
                            .homeCenter__title
                                h1 Vận hành trung tâm hiệu quả hơn với Eduspace.vn
                                p Không giới hạn thời gian dùng thử
                                button.btn.btn-orange(type='button')
                                    span Đăng ký ngay
                            .homeCenter__img
                                img(src='images/homeCenter-img.png')
                            ul.homeCenter__list
                                li
                                    .homeCenter__item
                                        .d-block
                                            svg(width='88', height='88', viewBox='0 0 88 88', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                circle(cx='44', cy='44', r='44', fill='#FBF1DF')
                                                path(d='M58.6718 53.7505C58.3173 52.9022 57.4636 52.3591 56.6491 52.025L51.143 49.4897L48.4976 47.2588L44.2471 51.4864H44.2438L46.0783 63.7491C46.0849 63.7912 46.0739 63.8342 46.049 63.8686L44.131 66.4934C44.1005 66.5357 44.0518 66.5601 44 66.5601C43.9481 66.5601 43.8994 66.5353 43.8689 66.4934L41.9511 63.8686C41.9259 63.8342 41.9153 63.7908 41.9216 63.7491L43.7559 51.4862H43.7531L39.5027 47.2588L36.8573 49.4897L31.3509 52.025C30.5362 52.3591 29.7357 52.8663 29.3284 53.7505C29.3284 53.7505 23.3431 67.9999 26.5895 67.9999H61.4114C64.6572 68.0002 58.6718 53.7505 58.6718 53.7505Z', fill='#F2781C')
                                                path(d='M59.0541 34.2131C59.137 34.2042 59.2116 34.1646 59.2629 34.1005C59.3149 34.0365 59.3384 33.954 59.3292 33.872C59.2676 33.3457 59.2056 32.8205 59.1446 32.2941L59.0162 31.1928C58.9967 31.0284 58.8496 30.9088 58.684 30.9236L58.4458 30.924L58.4504 27.2269L58.575 27.1816L58.9906 27.0316C59.3426 26.9043 59.5769 26.5706 59.5769 26.1967C59.5769 25.8227 59.3426 25.4889 58.9906 25.3614L44.3016 20.053C44.1062 19.9824 43.8926 19.9824 43.6977 20.053L29.0084 25.3614C28.6567 25.4889 28.4224 25.8227 28.4224 26.1967C28.4224 26.5706 28.6567 26.9043 29.0084 27.0316L34.4386 28.994C34.0553 30.2042 33.8809 31.5897 33.8966 33.1323C33.9921 41.9313 39.1 47.1784 43.8263 47.1784C48.4973 47.1784 53.6605 41.9313 53.7557 33.1323C53.7714 31.6372 53.6066 30.2904 53.2479 29.1071L57.1964 27.6803L57.2047 30.9254L56.9661 30.9252C56.8004 30.9108 56.6532 31.0299 56.6343 31.1956L56.3255 33.875C56.3162 33.9566 56.3403 34.0382 56.392 34.1024C56.4437 34.1663 56.5191 34.2073 56.6008 34.2141L59.0541 34.2131ZM43.8269 45.0416C39.7034 45.0416 36.858 40.2111 36.284 35.3823C35.7533 30.9165 42.2117 30.7086 42.5868 33.4766C42.7023 34.3275 41.7252 35.2391 41.836 35.5905C42.3826 37.3253 51.4317 29.9282 51.3699 35.3801C51.3263 39.2294 47.7558 45.0416 43.8269 45.0416Z', fill='#F2781C')
                                            p.size-20.medium Quản lý học viên
                                li.active
                                    .homeCenter__item
                                        .d-block
                                            svg(width='88', height='88', viewBox='0 0 88 88', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                circle(cx='44', cy='44', r='44', fill='#FBF1DF')
                                                path(d='M53.8152 21.6354C53.8837 21.2278 53.7685 20.8122 53.5011 20.4967C53.2348 20.1811 52.8425 20 52.4296 20C48.5516 20 46.2618 21.5272 44.0001 23.6584C41.7384 21.5272 39.4485 20 35.5706 20C35.1577 20 34.7708 20.2099 34.5033 20.5255C34.2371 20.841 34.126 21.2855 34.1946 21.693C34.6282 24.2983 34.6282 26.9409 34.1946 29.5463L34.1849 29.6038C34.1164 30.0114 34.2315 30.4271 34.4991 30.7425C34.7652 31.0581 35.1577 31.2392 35.5706 31.2392C39.4486 31.2392 41.7383 29.712 44.0001 27.5808C46.2618 29.712 48.5516 31.2392 52.4295 31.2392C52.8425 31.2392 53.2294 31.0293 53.4968 30.7137C53.763 30.3982 53.8741 29.9537 53.8056 29.5462C53.3721 26.9409 53.3721 24.2984 53.8152 21.6354Z', fill='#F2781C')
                                                path(d='M35.2235 34.7166C34.8311 34.2666 34.1918 34.1184 33.6443 34.3365L26.6198 37.1463C26.2426 37.2972 25.949 37.6046 25.8144 37.9887C25.6813 38.3728 25.7198 38.7954 25.9215 39.148L26.1397 39.5293C27.6571 42.1855 28.4858 45.1942 28.5434 48.2483L25.8996 53.2478C25.7432 53.5427 25.6979 53.8844 25.7692 54.2096L28.5789 66.8537C28.7216 67.4971 29.2924 67.9541 29.9509 67.9541C31.3225 67.9541 41.2252 67.9541 42.595 67.9541V65.1444V43.1415L35.2235 34.7166Z', fill='#F2781C')
                                                path(d='M59.457 48.2484C59.5145 45.1944 60.3433 42.1857 61.8607 39.5294L62.0789 39.1481C62.2805 38.7955 62.319 38.3729 62.1859 37.9888C62.0514 37.6046 61.7579 37.2973 61.3805 37.1464L54.356 34.3366C53.8059 34.1185 53.1707 34.2667 52.7769 34.7167L45.4053 43.1416V53.9051H46.8102C47.5867 53.9051 48.2151 54.5336 48.2151 55.3101C48.2151 56.0866 47.5867 56.715 46.8102 56.715H45.4053V59.5248H46.8102C47.5867 59.5248 48.2151 60.1532 48.2151 60.9297C48.2151 61.7063 47.5867 62.3347 46.8102 62.3347H45.4053V67.9543C58.6465 67.9543 59.0911 68.3435 59.4214 66.854L62.2311 54.2098C62.3025 53.8846 62.2572 53.5431 62.1007 53.2481L59.457 48.2484ZM52.4298 51.0953H49.62C48.8435 51.0953 48.2151 50.4669 48.2151 49.6903C48.2151 48.9138 48.8435 48.2854 49.62 48.2854H52.4298C53.2063 48.2854 53.8347 48.9138 53.8347 49.6903C53.8347 50.4669 53.2063 51.0953 52.4298 51.0953Z', fill='#F2781C')

                                            p.size-20.medium Quản lý nhân viên
                                li
                                    .homeCenter__item
                                        .d-block
                                            svg(width='88', height='88', viewBox='0 0 88 88', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                circle(cx='44', cy='44', r='44', fill='#FBF1DF')
                                                path(d='M54.02 59C54 59.14 54 59.3 54 59.44V62.5C54 65.54 51.54 68 48.5 68H39.5C36.46 68 34 65.54 34 62.5V59.44C34 59.3 34 59.14 33.98 59H54.02Z', fill='#F2781C')
                                                path(d='M55.52 24.22C52.28 21.5 48.2 20.06 44 20.06C42.88 20.06 41.74 20.16 40.6 20.38C33.92 21.6 28.46 26.58 26.68 33.08C25 39.16 26.5 45.34 30.76 50.02C32.3 51.72 33.32 53.78 33.76 56H54.26C54.68 53.78 55.72 51.7 57.26 50C60.32 46.66 62 42.42 62 38.06C62 32.7 59.64 27.66 55.52 24.22ZM48 35H43.25C42.56 35 42 35.56 42 36.25C42 36.94 42.56 37.5 43.25 37.5H44.75C47.094 37.5 49 39.406 49 41.75C49 43.836 47.486 45.568 45.5 45.924V48.5C45.5 49.328 44.828 50 44 50C43.172 50 42.5 49.328 42.5 48.5V46H40.5C39.672 46 39 45.328 39 44.5C39 43.672 39.672 43 40.5 43H44.75C45.44 43 46 42.44 46 41.75C46 41.06 45.44 40.5 44.75 40.5H43.25C40.906 40.5 39 38.594 39 36.25C39 34.164 40.514 32.432 42.5 32.076V29.5C42.5 28.672 43.172 28 44 28C44.828 28 45.5 28.672 45.5 29.5V32H48C48.828 32 49.5 32.672 49.5 33.5C49.5 34.328 48.828 35 48 35Z', fill='#F2781C')

                                            p.size-20.medium Quản lý tài chính
                            .homeCenter__edu
                                svg(width='70', height='170', viewBox='0 0 70 170', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(opacity='0.1', d='M40.0781 127.516L40.0781 153.391L56.3437 153.391L56.3437 122.828L69 122.828L69 169.844L0.75 169.844L0.749998 122.734L13.4531 122.734L13.4531 153.391L27.8437 153.391L27.8437 127.516L40.0781 127.516ZM69 116.125L0.749997 116.125L0.749996 94.1406C0.749996 88.1094 2.125 82.6875 4.875 77.875C7.59375 73.0625 11.4531 69.3125 16.4531 66.625C21.4219 63.9062 27 62.5312 33.1875 62.5L36.3281 62.5C42.5781 62.5 48.1875 63.8281 53.1562 66.4844C58.0937 69.1094 61.9687 72.8281 64.7812 77.6406C67.5625 82.4219 68.9687 87.7656 69 93.6719L69 116.125ZM13.4531 99.6719L56.3437 99.6719L56.3437 93.9531C56.3437 89.2344 54.6719 85.6094 51.3281 83.0781C47.9531 80.5469 42.9531 79.2812 36.3281 79.2812L33.375 79.2812C26.7812 79.2812 21.8125 80.5469 18.4687 83.0781C15.125 85.6094 13.4531 89.2969 13.4531 94.1406L13.4531 99.6719ZM0.749992 0.531249L45.4219 0.531247C50.4844 0.531246 54.875 1.60937 58.5937 3.76562C62.2812 5.92187 65.0937 9.01562 67.0312 13.0469C68.9687 17.0781 69.9375 21.8437 69.9375 27.3437C69.9375 35.6562 67.7812 42.2031 63.4687 46.9844C59.1562 51.7656 53.25 54.2031 45.75 54.2969L0.749995 54.2969L0.749994 37.75L46.0781 37.75C53.5469 37.5625 57.2812 34.0937 57.2812 27.3437C57.2812 23.9375 56.3437 21.3594 54.4687 19.6094C52.5937 17.8594 49.5469 16.9844 45.3281 16.9844L0.749993 16.9844L0.749992 0.531249Z', fill='black')

                            .homeCenter__space
                                svg(width='71', height='291', viewBox='0 0 71 291', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(opacity='0.1', d='M19.1406 37.3594C21.5469 37.3594 23.4219 36.5 24.7656 34.7812C26.1094 33.0937 27.5 30.1094 28.9375 25.8281C30.375 21.5469 31.7656 18.0469 33.1094 15.3281C37.4531 6.48437 43.4219 2.0625 51.0156 2.0625C54.7969 2.0625 58.125 3.15625 61 5.34375C63.9062 7.5625 66.1562 10.6875 67.75 14.7187C69.375 18.75 70.1875 23.2812 70.1875 28.3125C70.1875 33.2187 69.3125 37.6094 67.5625 41.4844C65.8125 45.3906 63.3125 48.4219 60.0625 50.5781C56.8437 52.7344 53.1562 53.8125 49 53.8125L49 37.4062C51.7812 37.4062 53.9375 36.5469 55.4687 34.8281C57 33.1406 57.7656 30.8437 57.7656 27.9375C57.7656 25 57.1094 22.6719 55.7969 20.9531C54.5156 19.2656 52.875 18.4219 50.875 18.4219C49.125 18.4219 47.5312 19.3594 46.0937 21.2344C44.6875 23.1094 43.2187 26.4062 41.6875 31.125C40.1875 35.8437 38.5625 39.7187 36.8125 42.75C32.5625 50.125 26.7031 53.8125 19.2344 53.8125C13.2656 53.8125 8.57812 51.5625 5.17187 47.0625C1.76562 42.5625 0.0624983 36.3906 0.0624986 28.5469C0.0624989 23.0156 1.04687 18 3.01562 13.5C5.01562 9.03125 7.73437 5.65625 11.1719 3.375C14.6406 1.125 18.625 -3.60073e-06 23.125 -3.40402e-06L23.125 16.5C19.4687 16.5 16.7656 17.4375 15.0156 19.3125C13.2969 21.2187 12.4375 24.2969 12.4375 28.5469C12.4375 31.2656 13.0156 33.4062 14.1719 34.9687C15.3594 36.5625 17.0156 37.3594 19.1406 37.3594ZM24.1562 78.7031L0.999996 78.7031L0.999997 62.25L69.25 62.25L69.25 89.4844C69.25 94.7031 68.2812 99.3125 66.3437 103.312C64.4375 107.344 61.7031 110.453 58.1406 112.641C54.6094 114.859 50.5937 115.969 46.0937 115.969C39.4375 115.969 34.1094 113.578 30.1094 108.797C26.1406 104.047 24.1562 97.5156 24.1562 89.2031L24.1562 78.7031ZM36.8594 78.7031L36.8594 89.4844C36.8594 92.6719 37.6562 95.0937 39.25 96.75C40.8437 98.4375 43.0937 99.2812 46 99.2812C49.1875 99.2812 51.7344 98.4219 53.6406 96.7031C55.5469 94.9844 56.5156 92.6406 56.5469 89.6719L56.5469 78.7031L36.8594 78.7031ZM13.75 155.203L13.75 132.656L0.999994 128.719L0.999995 111.141L69.25 136.172L69.25 151.641L0.999992 176.859L0.999993 159.187L13.75 155.203ZM26.4531 136.594L26.4531 151.266L50.125 143.906L26.4531 136.594ZM24.1094 236.062C19.3594 235.844 15.1562 234.562 11.5 232.219C7.87499 229.875 5.06249 226.578 3.06249 222.328C1.06249 218.109 0.0624905 213.281 0.0624908 207.844C0.0624912 198.875 2.98437 191.812 8.82812 186.656C14.6719 181.5 22.9219 178.922 33.5781 178.922L36.9531 178.922C43.6406 178.922 49.4844 180.078 54.4844 182.391C59.5156 184.734 63.3906 188.094 66.1094 192.469C68.8594 196.844 70.2344 201.906 70.2344 207.656C70.2344 215.937 68.0469 222.594 63.6719 227.625C59.3281 232.656 53.3281 235.516 45.6719 236.203L45.6719 219.797C49.8281 219.672 52.8125 218.625 54.625 216.656C56.4375 214.687 57.3437 211.687 57.3437 207.656C57.3437 203.562 55.8125 200.562 52.75 198.656C49.6875 196.75 44.7969 195.75 38.0781 195.656L33.25 195.656C25.9687 195.656 20.7656 196.562 17.6406 198.375C14.5156 200.219 12.9531 203.375 12.9531 207.844C12.9531 211.625 13.8437 214.516 15.625 216.516C17.4062 218.516 20.2344 219.578 24.1094 219.703L24.1094 236.062ZM29.9219 286.172L29.9219 260.297L13.6562 260.297L13.6562 290.859L0.999987 290.859L0.999989 243.844L69.25 243.844L69.25 290.953L56.5469 290.953L56.5469 260.297L42.1562 260.297L42.1562 286.172L29.9219 286.172Z', fill='black')

                    .solution
                        .container
                            .row
                                .col-6
                                    .solution__text
                                        h2.title1 Eduspace giúp bạn vận hành trung tâm như thế nào?
                                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                .col-6
                                    .videoBox
                                        iframe(width='560', height='315', src='https://www.youtube.com/embed/wCc2v7izk8w?rel=0&showinfo=0', frameborder='0', allowfullscreen='')
                    .homeAbout
                        .container
                            h2.title1.title1_center Khách hàng nói về Eduspace
                            .homeAbout__circle
                                .homeAbout__slide
                                    .homeAbout__col
                                        .aboutItem
                                            .aboutItem__svg
                                                svg(width='81', height='70', viewBox='0 0 81 70', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(opacity='0.15', d='M33.3918 12.6066C26.5592 13.7125 21.8204 16.1453 19.1755 19.9052C16.751 23.4439 15.5388 29.6366 15.5388 38.4834H32.4V70H0V43.4597C0 29.0837 2.6449 18.2464 7.93469 10.9479C13.2245 3.64928 21.7102 0 33.3918 0V12.6066ZM81 12.6066C74.1673 13.7125 69.4286 16.1453 66.7837 19.9052C64.3592 23.4439 63.1469 29.6366 63.1469 38.4834H80.0081V70H47.6082V43.4597C47.6082 29.0837 50.2531 18.2464 55.5429 10.9479C60.8326 3.64928 69.3184 0 81 0V12.6066Z', fill='#BDBDBD')
                                            .aboutItem__avatar
                                                img(src='images/avatar.jpg')
                                            .aboutItem__cont
                                                svg(width='17', height='14', viewBox='0 0 17 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M6.944 2.608C5.62133 2.82133 4.704 3.29066 4.192 4.016C3.72267 4.69866 3.488 5.89333 3.488 7.6H6.752V13.68H0.48V8.56C0.48 5.78666 0.992 3.696 2.016 2.288C3.04 0.879999 4.68267 0.175999 6.944 0.175999V2.608ZM16.16 2.608C14.8373 2.82133 13.92 3.29066 13.408 4.016C12.9387 4.69866 12.704 5.89333 12.704 7.6H15.968V13.68H9.696V8.56C9.696 5.78666 10.208 3.696 11.232 2.288C12.256 0.879999 13.8987 0.175999 16.16 0.175999V2.608Z', fill='white')
                                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                .aboutItem__name
                                                    p.size-16.medium Delijeh Snyder
                                                    p.mb0 Director of Brand & Content Marketing

                                    .homeAbout__col
                                        .aboutItem
                                            .aboutItem__svg
                                                svg(width='81', height='70', viewBox='0 0 81 70', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(opacity='0.15', d='M33.3918 12.6066C26.5592 13.7125 21.8204 16.1453 19.1755 19.9052C16.751 23.4439 15.5388 29.6366 15.5388 38.4834H32.4V70H0V43.4597C0 29.0837 2.6449 18.2464 7.93469 10.9479C13.2245 3.64928 21.7102 0 33.3918 0V12.6066ZM81 12.6066C74.1673 13.7125 69.4286 16.1453 66.7837 19.9052C64.3592 23.4439 63.1469 29.6366 63.1469 38.4834H80.0081V70H47.6082V43.4597C47.6082 29.0837 50.2531 18.2464 55.5429 10.9479C60.8326 3.64928 69.3184 0 81 0V12.6066Z', fill='#BDBDBD')
                                            .aboutItem__avatar
                                                img(src='images/avatar-1.jpg')
                                            .aboutItem__cont
                                                svg(width='17', height='14', viewBox='0 0 17 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M6.944 2.608C5.62133 2.82133 4.704 3.29066 4.192 4.016C3.72267 4.69866 3.488 5.89333 3.488 7.6H6.752V13.68H0.48V8.56C0.48 5.78666 0.992 3.696 2.016 2.288C3.04 0.879999 4.68267 0.175999 6.944 0.175999V2.608ZM16.16 2.608C14.8373 2.82133 13.92 3.29066 13.408 4.016C12.9387 4.69866 12.704 5.89333 12.704 7.6H15.968V13.68H9.696V8.56C9.696 5.78666 10.208 3.696 11.232 2.288C12.256 0.879999 13.8987 0.175999 16.16 0.175999V2.608Z', fill='white')
                                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                                .aboutItem__name
                                                    p.size-16.medium Delijeh Snyder
                                                    p.mb0 Director of Brand & Content Marketing

                                    .homeAbout__col
                                        .aboutItem
                                            .aboutItem__svg
                                                svg(width='81', height='70', viewBox='0 0 81 70', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(opacity='0.15', d='M33.3918 12.6066C26.5592 13.7125 21.8204 16.1453 19.1755 19.9052C16.751 23.4439 15.5388 29.6366 15.5388 38.4834H32.4V70H0V43.4597C0 29.0837 2.6449 18.2464 7.93469 10.9479C13.2245 3.64928 21.7102 0 33.3918 0V12.6066ZM81 12.6066C74.1673 13.7125 69.4286 16.1453 66.7837 19.9052C64.3592 23.4439 63.1469 29.6366 63.1469 38.4834H80.0081V70H47.6082V43.4597C47.6082 29.0837 50.2531 18.2464 55.5429 10.9479C60.8326 3.64928 69.3184 0 81 0V12.6066Z', fill='#BDBDBD')
                                            .aboutItem__avatar
                                                img(src='images/avatar.jpg')
                                            .aboutItem__cont
                                                svg(width='17', height='14', viewBox='0 0 17 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                    path(d='M6.944 2.608C5.62133 2.82133 4.704 3.29066 4.192 4.016C3.72267 4.69866 3.488 5.89333 3.488 7.6H6.752V13.68H0.48V8.56C0.48 5.78666 0.992 3.696 2.016 2.288C3.04 0.879999 4.68267 0.175999 6.944 0.175999V2.608ZM16.16 2.608C14.8373 2.82133 13.92 3.29066 13.408 4.016C12.9387 4.69866 12.704 5.89333 12.704 7.6H15.968V13.68H9.696V8.56C9.696 5.78666 10.208 3.696 11.232 2.288C12.256 0.879999 13.8987 0.175999 16.16 0.175999V2.608Z', fill='white')
                                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                                                .aboutItem__name
                                                    p.size-16.medium Delijeh Snyder
                                                    p.mb0 Director of Brand & Content Marketing

                    .customer
                        .container
                            h2.title1.title1_center
                                | Hàng trăm khách hàng đang vận hành
                                br
                                | trung tâm hiệu quả với Eduspace
                            .customer__row
                                .customer__col
                                    .customer__item
                                        img(src='images/customer-1.png')
                                .customer__col
                                    .customer__item
                                        img(src='images/customer-2.png')
                                .customer__col
                                    .customer__item
                                        img(src='images/customer-3.png')
                                .customer__col
                                    .customer__item
                                        img(src='images/customer-4.png')
                    .solution.solution_reverse
                        .container
                            .row
                                .col-6
                                    .videoBox
                                        iframe(width='560', height='315', src='https://www.youtube.com/embed/wCc2v7izk8w?rel=0&showinfo=0', frameborder='0', allowfullscreen='')
                                .col-6
                                    .solution__text
                                        h2.title1 Eduspace giúp bạn vận hành trung tâm như thế nào?
                                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    .homeRegister
                        .container
                            h2 Rút ngắn thời gian quản lý của bạn
                            p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            a.btn.btn-orange(href='#')
                                span Đăng ký dùng thử miễn phí
            include jades/footer.jade


        script(src='js/jquery-3.3.1.min.js')
        script(src='js/popper.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/slick.min.js')

        script.
            if (screen.width < 768) {
                $(".header__toggle").click(function () {
                    $('.header__menu').slideToggle(200);
                });
                $(".subMenu > a").click(function () {
                    $('.subMenu__cont').slideToggle(200);
                    $(this).toggleClass('rotate');
                });
            };
        script.
            $(".homeAbout__slide").slick({
                slidesToShow: 2,
                slidesToScroll: 1,
                //autoplay: true,
                speed: 800,
                autoplaySpeed: 5000,
                arrows: true,
                dots: false,
                infinite: false,
                responsive: [
                    {
                        breakpoint: 767,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1,
                        }
                    }
                ]
            });



