.registerSuccess{
  padding: 40px 0;
  @include breakpoint(sm){
    padding: 3vw 0;
  }
  &__body{
    background-color: #fff;
    box-shadow: $shadow;
    border-radius: 4px;
    padding: 30px 15px;
    @include breakpoint(sm){
      padding: 4vw 2vw;
    }
  }
  &__cont{
    text-align: center;
  }
  &__icon{
    margin-bottom: 30px;
    @include breakpoint(sm){
      margin-bottom: 2vw;
    }
  }
  &__text{
    padding-bottom: 40px;
    @include breakpoint(sm){
      padding-bottom: 5vw;
    }
    h3{
      color: #0A3A63;
      margin-bottom: 15px;
      @include breakpoint(sm){
        margin-bottom: 2vw;
      }
    }
    p{
      color: #757575;
      font-size: 14px;
      margin-bottom: 0;
      @include breakpoint(sm){
        font-size: 1vw;
      }
    }
  }
  &__list{
    ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li{
        padding: 5px 10px;
        @include breakpoint(sm){
          padding: 0 1.5vw;
        }
        a{
          display: inline-flex;
          align-items: center;
          color: #318FDB;
          font-size: 14px;
          @include breakpoint(sm){
            font-size: 1vw;
          }
          span{
            padding-left: 5px;
            @include breakpoint(sm){
              padding-left: .5vw;
            }
          }
        }
      }
    }
  }
}