footer.footer
    .footer__top
        .container
            .row
                .col-4
                    .footer__business
                        p.footer__title Công ty TNHH công nghệ Eduspace
                        a(href='#')
                            img(src='images/bocongthuong-logo.png')
                        p Giấy chứng nhận ĐKKD số: 0108438938 do Sở KHĐT Tp. Hà Nội cấp ngày 26/09/2018
                        p Người đại diện: Phạm Đức Quang
                .col-2
                    .footer__list
                        p.footer__title Eduspace
                        ul
                            li
                                a(href='#')
                                    span Giới thiệu
                            li
                                a(href='#')
                                    span Tính năng
                            li
                                a(href='#')
                                    span Cẩm nang
                            li
                                a(href='#')
                                    span Hỗ trợ
                            li
                                a(href='#')
                                    span Đăng ký
                .col-2
                    .footer__list
                        p.footer__title Doanh nghiệp
                        ul
                            li
                                a(href='#')
                                    span Hướng dẫn
                            li
                                a(href='#')
                                    span Phí dịch vụ
                            li
                                a(href='#')
                                    span Điều khoản và điều kiện
                            li
                                a(href='#')
                                    span Chính sách riêng tư
                            li
                                a(href='#')
                                    span Dowload teamviewer
                .col-4
                    .footer__contact
                        p.footer__title Liên hệ
                        ul
                            li
                                svg(width='14', height='20', viewBox='0 0 14 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M7 0C3.13 0 0 3.13 0 7C0 12.25 7 20 7 20C7 20 14 12.25 14 7C14 3.13 10.87 0 7 0ZM7 9.5C5.62 9.5 4.5 8.38 4.5 7C4.5 5.62 5.62 4.5 7 4.5C8.38 4.5 9.5 5.62 9.5 7C9.5 8.38 8.38 9.5 7 9.5Z', fill='#F2781C')
                                span Số 44/120 Trường Chinh Đống Đa Hà Nội

                            li
                                svg(width='18', height='18', viewBox='0 0 18 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M17 12.5C15.75 12.5 14.55 12.3 13.43 11.93C13.08 11.82 12.69 11.9 12.41 12.17L10.21 14.37C7.38 12.93 5.06 10.62 3.62 7.78L5.82 5.57C6.1 5.31 6.18 4.92 6.07 4.57C5.7 3.45 5.5 2.25 5.5 1C5.5 0.45 5.05 0 4.5 0H1C0.45 0 0 0.45 0 1C0 10.39 7.61 18 17 18C17.55 18 18 17.55 18 17V13.5C18 12.95 17.55 12.5 17 12.5ZM16 9H18C18 4.03 13.97 0 9 0V2C12.87 2 16 5.13 16 9ZM12 9H14C14 6.24 11.76 4 9 4V6C10.66 6 12 7.34 12 9Z', fill='#F2781C')

                                span 0896465225

                            li
                                svg(width='20', height='16', viewBox='0 0 20 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M18 0H2C0.9 0 0.00999999 0.9 0.00999999 2L0 14C0 15.1 0.9 16 2 16H18C19.1 16 20 15.1 20 14V2C20 0.9 19.1 0 18 0ZM18 4L10 9L2 4V2L10 7L18 2V4Z', fill='#F2781C')

                                span hotro@eduspace.vn
                    ul.footer__social
                        li
                            a(href='#')
                                svg(width='32', height='32', viewBox='0 0 32 32', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    circle(cx='16', cy='16', r='16', fill='#185482')
                                    path(d='M18.6645 10.6567H20.1252V8.11267C19.8732 8.078 19.0065 8 17.9972 8C15.8912 8 14.4485 9.32467 14.4485 11.7593V14H12.1245V16.844H14.4485V24H17.2978V16.8447H19.5278L19.8818 14.0007H17.2972V12.0413C17.2978 11.2193 17.5192 10.6567 18.6645 10.6567Z', fill='white')


                        li
                            a(href='#')
                                svg(width='32', height='32', viewBox='0 0 32 32', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    circle(cx='16', cy='16', r='16', fill='#185482')
                                    path(d='M23.6462 11.9528L23.6662 12.0835C23.4729 11.3975 22.9509 10.8682 22.2875 10.6755L22.2735 10.6722C21.0262 10.3335 16.0069 10.3335 16.0069 10.3335C16.0069 10.3335 11.0002 10.3268 9.7402 10.6722C9.0642 10.8682 8.54153 11.3975 8.35153 12.0695L8.3482 12.0835C7.8822 14.5175 7.87886 17.4422 8.36886 20.0482L8.3482 19.9162C8.54153 20.6022 9.06353 21.1315 9.72686 21.3242L9.74086 21.3275C10.9869 21.6668 16.0075 21.6668 16.0075 21.6668C16.0075 21.6668 21.0135 21.6668 22.2742 21.3275C22.9509 21.1315 23.4735 20.6022 23.6635 19.9302L23.6669 19.9162C23.8789 18.7842 24.0002 17.4815 24.0002 16.1508C24.0002 16.1022 24.0002 16.0528 23.9995 16.0035C24.0002 15.9582 24.0002 15.9042 24.0002 15.8502C24.0002 14.5188 23.8789 13.2162 23.6462 11.9528ZM14.4055 18.4342V13.5722L18.5829 16.0068L14.4055 18.4342Z', fill='white')
    .footer__bottom Bản quyền © 2020 Eduspace.vn